# Prerequisites
*.d
*.txt

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Keil
Listings/
Objects/
*.crf
*.build_log.htm
*.htm
*.axf
*.lnp
*.dep
*.map
*.bin

DebugConfig/
*.uvguix.*
*.uvgui.*
*.uvoptx
*.scvd
*JLinkLog.txt
*JLinkSettings.ini
~s*
*.TMP
build/MY_ENGINEER/axf2elf.log
build/MY_ENGINEER/builder.params
build/MY_ENGINEER/builder.params.old
build/MY_ENGINEER/compile_commands.json
build/MY_ENGINEER/compiler.log
build/MY_ENGINEER/MY_ENGINEER.map.view
build/MY_ENGINEER/MY_ENGINEER.objlist
build/MY_ENGINEER/MY_ENGINEER.s19
build/MY_ENGINEER/MY_ENGINEER.sct
build/MY_ENGINEER/ref.json
build/MY_ENGINEER/unify_builder.log
MDK-ARM/MY_ENGINEER.uvguix.18129
MDK-ARM/MY_ENGINEER/MY_ENGINEER.build_log.htm
